language: php
php:
- 7.2
- nightly

env:
  matrix:
  - PREFER_LOWEST="--prefer-lowest"
  - PREFER_LOWEST=""

before_script:
- composer self-update
- travis_retry composer update $PREFER_LOWEST --prefer-source --no-interaction --dev
script:
- composer test
#after_success:
#- bash <(curl -s https://codecov.io/bash)
